html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    position: absolute;
    z-index: 1;
    padding: 40px 240px 40px 40px;
}

.page-wrapper::before {
    content: '.';
    text-indent: -10000px;
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    background: url(../images/ya_bg.jpg) 50% 10% no-repeat;
    opacity:0.4;
}

.block-container {
    display: table;
    margin: 0 0 50px 0;
}

.list-block {
    display: table-row;
}

.list-image {
    display: table-cell;
    vertical-align: top;
    padding: 0 70px 0 0;
}

.list-text {
    vertical-align: top;
    border: 8px solid #336699;
    font: 14px/17px Tahoma, Verdana, sans-serif;
    padding: 19px 20px 21px 30px;
    background: #f4f4f4;
    position: relative;
    min-height: 50px;
}

.list-text::before, .list-text::after {
    content: '.';
    text-indent: -10000px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.list-text::before {
    border-right: 35px solid #336699;
    margin: 15px 0 0 -39px;
}

.list-text::after {
    border-right: 35px solid #f4f4f4;
    margin: 15px 0 0 -29px;
}

.list-text p {
    margin: 0;
    padding: 0;
}